body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header_panel {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	background: #eee;
	border-bottom: 1px solid #999;
}

#footer_panel {
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	background: #eee;
	border-top: 1px solid #999;
}

#footer {
	position: fixed;
	bottom: 7px;
	right: 10px;
	margin: 0px;
	padding: 0px;
	z-index: 10;
	fill: #666;
  	font: 8px sans-serif;
}

.column text {
  fill: black;
  font: 8px sans-serif;
  font-weight: bold;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

rect {
	fill: #fff;
	stroke: #bbb;
	stroke-width: 0.5px;
}

.value {
	fill: #ccc;
	cursor: pointer;
}

.cell text {
	font: 8px sans-serif;
	fill: #666;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

.column {
	cursor: pointer;
}

.year {
	fill: #b00;
	font-weight: bold;
	font-family: Palatino, Times, serif;
}

.title {
	font-family: Palatino, Times, serif;
	font-weight: bold;
	fill: #666;
	cursor: default;
}

.subtitle {
	font: 8px sans-serif;
	cursor: default;
	fill: #666;
}

.attribution {
	font: 8px sans-serif;
	fill: #666;
}

.attribution:hover {
	fill: #b00;
	text-decoration: underline;
}

.artist {
	font: 8px sans-serif;
	font-weight: bold;
}

.artist:hover {
	fill: #b00;
	text-decoration: underline;
}

.album {
	font: 8px sans-serif;
	fill: #666;
}

.index {
	font: 7px sans-serif;
	fill: #999;
	cursor: default;
}

.album:hover {
	fill: #b00;
	text-decoration: underline;
}

.tooltip {
  position: absolute;	
  text-align: left;	
  width: 120px;	
  height: 80px;		
  padding: 5px 5px 5px 5px;
  font: 8px sans-serif;	
  background: #fdd;	
  border: 0px;					
  border-radius: 4px;
  z-index: 10;
}

.tooltip a {
	text-decoration: none;
	cursor: pointer;
	fill: #000;
}

.axis line,
.axis path {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}