body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

text {
  fill: black;
  font: 10px sans-serif;
  text-align: right;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

rect {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}

.value {
	fill: #bbb;
}

.header text {
	font-weight: bold;
}

.cell text {
	font: 8px sans-serif;
}

.column {
	cursor: s-resize;
}